page-add-coupon {
    .wrapper {
        width: 60%;
        height: 40%; 
        margin: 0 auto;
        position: absolute;
        left: 20%;
        top: 10%;
    }

    .centered {
        width: 40%;
        margin: 0 auto;
        position: absolute;
        left: 30%;
    }
}
